.table{
  margin: 10px;
  width: 1150px !important;
  
  }

  textarea{
    resize: none !important;
    width: 100% !important;

  }
.btn-agregar{
  margin-left: 20px;
  width: 15% !important;
}

.barra-busqueda{
  width: 40%;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
  margin-left: 20px;
}


