*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 600px; 
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.modal-body form  input{
  width: 100%;
  margin-bottom: none;
  height: 28px;
  line-height: 32px;
  border: 1px solid #BBBBBB;
}

.modal-body form .btn-submit{
  margin-top: 10px;
  padding: 0 20px ;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #000;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
}

.modal-body form .btn-submit:hover{
  background: rgba(0,0,0,.8);
}

.modal-body h4{
  font-size: 15px;
  font-weight: 300;
  margin-bottom: none;
}

.botonArticulo{
  text-align: center;
  border-radius: 5px;
  font-family: sans-serif;
  color: #fff;
  background-color: #000;
  height: 55px;
  width: 150px;
}

.botonArticulo:hover{
 background: rgba(0, 0, 0, .88);
}