.divsearch{
    display: flex !important;
    width: 100% !important;
    padding-right: 2px !important;
    justify-content: space-between !important;
  }
  .btn-carrito {
  margin-right: 0% !important;
  }
  
  .usercarrito {
    display: flex !important;
  flex-direction: row !important;
  }
  