.divsearch{
    /* display: flex !important; */
    width: 100% !important;
    padding-right: 2px !important;
    justify-content: space-between !important;
  }
  .btn-carrito {
  margin-right: 0% !important;
  }
  
  .usercarrito {
    display: flex !important;
  flex-direction: row !important;
  }

  .boton-basura{

      border: none !important;

      width: 60px !important;
      border-color: rgb(139, 133, 133) !important;
      position: relative !important;
        left: 70px;
}
  
  