body{

  padding-top:70px;
  }
  
  .col-margin{
  
    margin-bottom: 20px !important;
  
  }
  
  h1 {
  
      padding-top: 30px;
      padding-bottom: 50px;
  
  }

  .btn-footer{
    width: 200px !important;

  }

  .btn-carrito-card{

 border-radius: 50px !important;
      width: 80% !important;
    
  }
  
  .btn{
           
      border-radius: 50px !important;
      width: 30%;
  }
  
  
  
    i{
      font-size:20px;
    }
  
    .btn-buttom{
      border: none !important;
      color:white !important; 
      width: 60px !important;
      border-color: rgb(139, 133, 133) !important;
    }


  
    .d-block{
      width: 100%;
      height: auto;
    }

    .boton{
      pointer-events: none !important;
   
    padding-left: 95px !important;
  }

  .dropdown-toggle::after {
    
    content: none !important;
    
}

.fotoperfil{

  padding-left: 20px;
  padding-top: 40px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 60%;
}

.btn-dark{
  margin: 7px !important;

}

.inputcant{
 text-align: center;
 background-color: white;
 border: 0px;
}


.btnmenos{
  width: 50px !important;
  display: inline-block !important;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.body::-webkit-scrollbar {
  -webkit-appearance: none;
}

.body::-webkit-scrollbar:vertical {
  width:10px;
}

.body::-webkit-scrollbar-button:increment,.body::-webkit-scrollbar-button {
  display: none;
} 

.body::-webkit-scrollbar:horizontal {
  height: 10px;
}

.body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.bi-eye-fill{

  position: relative !important;
  right: 5px !important;

}
